    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/"
        >Find me on LinkedIn</a
      >
      <p class="copyright">© 2020 Rhys Jones</p>
    </div>
  </body>
</html>
