<%- include("header") -%>

<div class="top-container">
  <img class="top-cloud" src="images/cloud.png" alt="cloud-img" />
  <h1>I'm Rhys.</h1>
  <h2>a web developer.</h2>
  <img class="bottom-cloud" src="images/cloud.png" alt="cloud-img" />
  <img src="images/mountain.png" alt="mountain-img" />
</div>

<div class="middle-container">
  <div class="profile">
    <img class="profile-image" src="images/Rhys_LinkedIn.jpg" alt="Rhys-img" />
    <h2>Hello.</h2>
    <p class="intro-txt">
      I am a Web Developer. I play badminton and like to tinker.
    </p>
  </div>
  <hr />
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="computer-img" src="images/computer.png" alt="computer-img" />
      <h3>Development</h3>
      <p>
        I first learnt to write HTML at the age of 9, then had a break in coding
        until my GCSE's where I took on Computer Studies and aced it. Two years
        later I started tinkering around with coding Android apps, 2 years on
        from that I learnt to develop websites.
      </p>
    </div>
    <div class="skill-row">
      <img
        class="badminton-img"
        src="images/man-playing-badminton (256).png"
        alt="badminton-img"
      />
      <h3>Badminton</h3>
      <p>
        Both my granddad's were keen badminton players so I guess it's in my
        blood to enjoy this sport. I play socially and like to think I'm
        competent enough to provide a challenge.
      </p>
      <div class="Freepik-credit">
        Icons made by
        <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"
          >www.flaticon.com</a
        >
        is licensed by
        <a
          href="http://creativecommons.org/licenses/by/3.0/"
          title="Creative Commons BY 3.0"
          target="_blank"
          >CC 3.0 BY</a
        >
      </div>
    </div>
  </div>
  <hr />
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>If you want someone who can code and play badminton with.</h3>
    <p class="contact-message">
      Need some help on your website? Let's chat and see if I can be the help
      you need!
    </p>
    <a class="btn" href="mailto:rhys.jones.92@hotmail.co.uk">CONTACT ME</a>
  </div>
</div>

<%- include("footer") -%>
